.hufsa {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.hufsa__img {
    display: inline;
    border-radius: 50%;
    width: 6rem;
    height: 6rem ;

}

.hufsa__subtitle {
    color: var(--clr-slate800);
    font-size: var(--size-sm);
}

.hufsa__title {
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: 0.05em;
    line-height: 0.9;
}

.hufsa__description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);

}
.hufsa__btn {
    text-transform: capitalize;
    font-size: var(--size-sm);
}
/* xs */
@media  (min-width: 475px) { 
    .hufsa {
       gap: 1.5 rem;
    }
    .hufsa__img {
        
        width: 6.5rem;
        height: 6.5rem ;
    
    }
    
    .hufsa__subtitle {
        font-size: var(--size-lg);
    }
    
    .hufsa__title {
        font-size: var(--size-5xl);
    }
    
    .hufsa__description {
        font-size: var(--size-base);
    }
    .hufsa__btn {
        font-size: var(--size-base);
    }
}
    
/* sm */
/* @media  (min-width: 640px) {
    
} */

/* md */
/* @media  (min-width: 768px) {} */

/* lg */
@media  (min-width: 1024px) {
     .hufsa__img {
         
         width: 8rem;
         height: 8rem ;
     
     }
     
     .hufsa__subtitle {
         font-size: var(--size-2xl);
     }
     
     .hufsa__title {
         font-size: var(--size-7xl);
     }
     
     .hufsa__description {
         font-size: var(--size-lg);
     }
     .hufsa__btn {
         font-size: var(--size-lg);
     }
}

/* xl */
@media  (min-width: 1280px) {
    .hufsa {
        gap: 2rem;
    }
    .hufsa__img {
         
        width: 10rem;
        height: 10rem ;
    
    }
    
    .hufsa__subtitle {
        font-size: var(--size-4xl);
    }
    
    .hufsa__title {
        font-size: var(--size-9xl);
    }
    
    .hufsa__description {
        font-size: var(--size-xl);
    }
    .hufsa__btn {
        font-size: var(--size-xl);
    }
}

/* 2xl */
/* @media  (min-width: 1536px) {} */